body {
    background-color: rgb(48, 48, 48);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    border: 1px solid rgb(255, 111, 0);
    border-radius: 100px;
    text-decoration: none;
    color: white;
    padding: 45px;
    margin: 25px;
    transition: ease-in-out 0.3s;
}

a:hover {
    border: 1px solid rgb(255, 174, 0);
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.up, .down {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
