<!DOCTYPE html>
<html>
  <head>
    <title>Direction Example</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <i class="fa fa-search"></i>

    <h1>Direction: {{ direction }}</h1>
    <div class="buttons">
      <div onclick="button()" class="up">
        <a href="/up">Up</a>
      </div>
      <div onclick="button()" class="side-buttons">
        <div class="left">
          <a href="/left">Left</a>
        </div>
        <div onclick="button()" class="right">
          <a href="/right">Right</a>
        </div>
      </div>
      <div onclick="button()" class="down">
        <a href="/down">Down</a>
      </div>
    </div>
    <script>
      const button = () => {
        console.log("Hitting button of humility");
        return true;
      };
      const timestamp = Date.now();
    </script>
    <script
      src="https://kit.fontawesome.com/14ae188149.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
